@page
@model IndexModel 
@{ 
    ViewData["Title"] = "Home page"; 
}
<!DOCTYPE html>
<!-- saved from url=(0021)https://154890.8b.io/ -->
<html amp="" amp-version="2006180239003" class="i-amphtml-singledoc i-amphtml-standalone">
<head>
    <style src="~\wwwroot\css\site.css"></style>
    <link rel="preconnect" href="https://r.8b.io/" referrerpolicy="origin" />
    <link rel="preconnect" href="https://154890.8b.io/" referrerpolicy="origin" />
</head>

<body style="opacity: 1; visibility: visible; animation: 0s ease 0s 1 normal none running none;" class="amp-mode-mouse">
    <amp-sidebar id="sidebar" class="cid-qYNHkyPMOD i-amphtml-element i-amphtml-layout-nodisplay i-amphtml-overlay i-amphtml-scrollable" layout="nodisplay" side="right" hidden="" i-amphtml-layout="nodisplay" role="menu" tabindex="-1">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>

            <!-- NAVBAR ITEMS -->
            <!-- NAVBAR ITEMS END -->
            <!-- SOCIAL ICON -->
            <!-- SOCIAL ICON END -->
            <!-- SHOW BUTTON -->
            <!-- SHOW BUTTON END -->
        </div>
        <button class="i-amphtml-screen-reader" tabindex="-1">Close the sidebar</button>
    </amp-sidebar>
    <section class="menu1 menu horizontal-menu cid-qYNHkyPMOD" id="menu1-l">
        <!-- <div class="menu-wrapper"> -->
        <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
            <div>
                <!-- SHOW LOGO -->
                <div class="navbar-brand">
                    <div class="navbar-logo">
                        <amp-img src="https://r.8b.io/154890/images/sport-h_kcj0ynbi.png"
                                 layout="responsive"
                                 height="90"
                                 width="89.43217665615143"
                                 alt=""
                                 class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                 i-amphtml-layout="responsive">
                            <i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 100.635%;"></i-amphtml-sizer>
                            <div placeholder="" class="placeholder amp-hidden">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230" stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                                    <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212" cx="150" cy="150" r="135"></circle>
                                </svg>
                            </div>

                            <img decoding="async" alt="" src="~/index (1)_files/sport-h_kcj0ynbi.png" class="i-amphtml-fill-content i-amphtml-replaced-content" />
                        </amp-img>
                    </div>
                </div>
                <!-- SHOW LOGO END -->
                <!-- COLLAPSED MENU -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- NAVBAR ITEMS -->
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item dropdown">
                            <a class="nav-link mbr-bold link text-white display-7" href="https://154890.8b.io/#title1-x" aria-expanded="false"> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-bold link text-white display-7" asp-page="./exercise"> Workout Mode</a>
                        </li>
                        <li class="nav-item"><a class="nav-link mbr-bold link text-white display-7" asp-page="./login"> Login/Signup</a></li>
                    </ul>
                    <!-- NAVBAR ITEMS END -->
                    <!-- SOCIAL ICON -->
                    <!-- SOCIAL ICON END -->
                    <!-- SHOW BUTTON -->
                    <!-- SHOW BUTTON END -->
                </div>
                <!-- COLLAPSED MENU END -->

                <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
        <!-- AMP plug -->
        <!-- </div> -->
    </section>

    <section class="header1 cid-qYNImoKN1v" id="header1-m">
        <div class="mbr-overlay"></div>
        <div class="container-fluid">
            <div class="title-wrap mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 mbr-black mbr-px-4 align-left">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-px-4">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-bold mbr-pb-3 display-1"><font color="#fe7902" style="">trAIner.</font></h1>
                    <h2 class="mbr-section-subtitle mbr-fonts-style mbr-pb-3 display-2">
                        Your personal gym trainer AI
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="content4 cid-qYNQB88dRT" id="content4-w">
        <div class="container-fluid">
            <div class="mbr-flex mbr-px-2 flex-wrap">
                <div class="image image1 mbr-col-lg-6">
                    <amp-img src="https://r.8b.io/154890/images/02-h_kcj1mwl8.jpg"
                             layout="responsive"
                             width="496.16228070175436"
                             height="300"
                             alt=""
                             class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                             i-amphtml-layout="responsive">
                        <i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 60.4641%;"></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230" stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                                <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212" cx="150" cy="150" r="135"></circle>
                            </svg>
                        </div>

                        <img decoding="async" alt="" src="~/index (1)_files/02-h_kcj1mwl8.jpg" class="i-amphtml-fill-content i-amphtml-replaced-content" />
                    </amp-img>
                </div>
                <div class="image image2 mbr-col-lg-6">
                    <amp-img src="https://r.8b.io/154890/images/03-h_kcj4b20e.jpg"
                             layout="responsive"
                             width="449.9525766677205"
                             height="300"
                             alt=""
                             class="placeholder-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                             i-amphtml-layout="responsive">
                        <i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 66.6737%;"></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230" stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                                <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212" cx="150" cy="150" r="135"></circle>
                            </svg>
                        </div>

                        <img decoding="async" alt="" src="~/index (1)_files/03-h_kcj4b20e.jpg" class="i-amphtml-fill-content i-amphtml-replaced-content" />
                    </amp-img>
                </div>
            </div>
        </div>
    </section>

    <section class="footer1 cid-qYOHQyKKWW" id="footer1-16">
        <div class="mbr-flex">
            <div class="mbr-row link-items mbr-jc-c mbr-fonts-style display-4">
                <p class="mbr-text mbr-regular fLink mbr-px-1 mbr-white"></p>
                <p class="mbr-text mbr-regular fLink mbr-px-1 mbr-white"></p>
                <p class="mbr-text mbr-regular fLink mbr-px-1 mbr-white"></p>
                <p class="mbr-text mbr-regular fLink mbr-px-1 mbr-white"></p>
            </div>
            <div class="copyright mbr-px-2 mbr-flex mbr-jc-c">
                <p class="mbr-text mbr-regular mbr-fonts-style mbr-white align-center display-4">© <span style="">2020</span>&nbsp;trAIner inc.</p>
            </div>
        </div>
    </section>
</body>
</html>
