@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to your curated exercising experience</h1>
    <form method="post">
        <button type="submit">Enter Exercise</button>
    </form>
</div>
km